@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0a0a0a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #c5a059;
  border-radius: 4px;
}

/* Gradient text */
.text-gradient {
  background: linear-gradient(to right, #ffffff, #c5a059);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
